@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  /* themes: mytheme --default; */
}


body {
  font-family: 'Inter', sans-serif;
   
  background-color: oklch(24.8% 0.033 256.848);
  

  color: #f1f1f4;
}